/*font-family*/
h1 {
    font-family: arial;
    

}

p {
    font-family: Georgia; /*если у вас есть шрифт с номером в начале ставим кавычки "19 Arial" */
}

/*font-size*/

body {
    font-size: 10px;   /* Родитель задает размер*/
}

h1 {
    font-size: 5.0em; /* Потомок в 5 раз больше родителя */
    
}

p {
    font-size: 2.0em; /* Потомок в 2 раза больше родителя */
}

span {
    font-size: 2.0em; /* Потомок в 2 раза больше родителя */
}